body {
    margin: 0;
    padding: 0;
    font-family: "Stylish", sans-serif;
    text-align: center;
}

header {
    background-image: url("img/luanda.jpeg");
    background-size: cover;
    height: 720px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
   color: white;
   background-color: #1D3557;
   padding: 5px 40px;
   border-radius: 10px;
   font-size: 32px;
}

#description {
   color: white;
   background-color: #457B9D;
   padding: 5px 20px;
   border-radius: 10px;
   font-size: 20px;
   margin-top: 10px;
}

#activities-section {
    background-color: #DFCAAA;
    margin: 0;
    height: 720px;
    display: flex;
    flex-direction: column;
}

#activity-title {
    color: #1D3557;
    font-size: 28px;
    margin: 50px 0;
}

#activities-container {
   display: flex;
   justify-content: center;

}

.activity img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.activity {
    background-color: #7DA6D2;
    padding: 20px;
    margin: 20px;
    width: 25%;
    height: 400px;
    border-radius: 10px;
}

.activity:hover {
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 0 4px 8px #000;
}



