body {
    margin: 0;
    padding: 0;
    font-family: "Stylish", sans-serif;
    text-align: center;
}

header {
    background-image: url("img/luanda.jpeg");
    background-size: cover;
    height: 720px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
   color: white;
   background-color: #1D3557;
   padding: 5px 40px;
   border-radius: 10px;
   font-size: 32px;
}

#description {
   color: white;
   background-color: #457B9D;
   padding: 5px 20px;
   border-radius: 10px;
   font-size: 20px;
   margin-top: 10px;
}

#activities-section {
    background-color: #DFCAAA;
    margin: 0;
    height: 720px;
    display: flex;
    flex-direction: column;
}

#activity-title {
    color: #1D3557;
    font-size: 28px;
    margin: 50px 0;
}

#activities-container {
   display: flex;
   justify-content: center;

}

.activity img {
    width: 70%;
    height: 250px;
    border-radius: 10px;
}

.activity {
    background-color: #7DA6D2;
    padding: 20px;
    margin: 20px;
    width: 25%;
    height: 400px;
    border-radius: 10px;
    border-bottom: 6px solid #1D3557;
}

.activity:hover {
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 0 4px 8px #000;
}

#guide-section {
    background-color: #D6AB79;
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#guide-container {
    background-color: #7DA6D2;
    display: flex;
    width: 50%;
    height: 70%;
    padding: 20px;
    border-radius: 10px;
    border-bottom: 8px solid #1D3557;
}

#guide-container img {
    width: 45%;
    height: 90%;
    border-radius: 10px;
    margin: auto 0;
}

#guide-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: auto auto;
    color: #1D3557;
}

#guide-title {
    font-size: 28px;
}

#guide-p {
    font-size: 24px;
    line-height: 1.5;
    font-style: italic;
}

#guider {
    font-size: 16px;
    font-style: italic;
}

